@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #09090b;
}

.dark {
  --background: #09090b;
  --foreground: #f4f4f5;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* --- ESTILIZAÇÃO DA BOLINHA (THUMB) --- */

/* Chrome, Safari, Edge e Opera */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background: #fa3419;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-top: -5px;
  /* Centraliza a bolinha na linha */
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #fa3419;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Remove fundos padrão dos navegadores para usar o nosso gradiente */
input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  height: 4px;
}

input[type="range"]::-moz-range-track {
  background: transparent;
  height: 4px;
}